html, body {
  height: 100%;
}

a {
  color: #44949f;
}

a:hover {
  color: #e64e74;
}

hr {
  background-color: #ccc;
}

td {
  vertical-align: top;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -15em;
}

.push {
  height: 15em;
}

#page_header {
  border-top: 10px solid #343434;
  border-bottom: 1px dotted #CCC;
}

.box.solid {
  background-color: #EDEEE9;
}

.pill:link.selected, .pill:visited.selected {
  background-color: ##343434;
}

.gravatar {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #DDD;
  border-image: initial;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  float: left;
  margin: 0 10px 5px 0;
  padding: 4px;
}

.image-frame.center {
  text-align: center;
}

.image-frame img.right {
  float: right;
}

.image-frame img.left{
  float: left;
}

.image-frame img {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #DDD;
  border-image: initial;
  display: inline;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 4px;
}

#page_header h1 {
  margin: 24px 0 14px 0;
  font-family: 'La Belle Aurore', cursive;
}

#page_header h1 a {
  color: #1D242A;
  text-decoration: none;
  word-spacing: -12px;
}

#page_header ul.gallery.small {
  padding-top: 42px;
}

.post-title a, .post-title a:visited {
  color: #44949f;
  text-decoration: none;
}

.post-title a:hover {
  text-decoration: underline;
}

.post h1, .post h2, .post h3 {
  border-bottom: 1px solid #CCC;
}

.post .share p {
  margin-top: 0px;
}

.highlight {
  font-family: monospace, Monaco, serif !important;
  font-size: 12px;
  line-height: 16px;
}

.highlight pre, .highlight code {
  display: block;
}
