---
layout: default
---

<h1><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>

<section class="byline">{{ page.date | date: "%B %e, %Y" }}</section>
<div class="hide-for-mobile">
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-via="SwiftAlphaOne">Tweet</a>
  <a href="http://news.ycombinator.com/submit" class="hn-share-button" data-title="{{ page.title }}">Vote on HN</a>
</div>
<br />

{{ content }}

<!-- Begin MailChimp Signup Form -->
    <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
    <div id="mc_embed_signup" class="signup-form">
        <form action="http://theycallmeswift.us7.list-manage.com/subscribe/post?u=7a093765dbfedfdb8e957cbf1&amp;id=f88c512ec1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="mc-field-group">
                <input type="email" value="" id="email" name="EMAIL" class="required email" id="mce-EMAIL">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
        try {
            var jqueryLoaded=jQuery;
            jqueryLoaded=true;
        } catch(err) {
            var jqueryLoaded=false;
        }
        var head= document.getElementsByTagName('head')[0];
        if (!jqueryLoaded) {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
            head.appendChild(script);
            if (script.readyState && script.onload!==null){
                script.onreadystatechange= function () {
                    if (this.readyState == 'complete') mce_preload_check();
                }
            }
        }
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
        head.appendChild(script);
        var err_style = '';
        try{
            err_style = mc_custom_error_style;
        } catch(e){
            err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
        }
        var head= document.getElementsByTagName('head')[0];
        var style= document.createElement('style');
        style.type= 'text/css';
        if (style.styleSheet) {
            style.styleSheet.cssText = err_style;
        } else {
            style.appendChild(document.createTextNode(err_style));
        }
        head.appendChild(style);
        setTimeout('mce_preload_check();', 250);
        
        var mce_preload_checks = 0;
        function mce_preload_check(){
            if (mce_preload_checks>40) return;
            mce_preload_checks++;
            try {
                var jqueryLoaded=jQuery;
            } catch(err) {
                setTimeout('mce_preload_check();', 250);
                return;
            }
            try {
                var validatorLoaded=jQuery("#fake-form").validate({});
            } catch(err) {
                setTimeout('mce_preload_check();', 250);
                return;
            }
            mce_init_form();
        }
        function mce_init_form(){
            jQuery(document).ready( function($) {
                                   var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
                                   var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
                                   $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
                                   options = { url: 'http://theycallmeswift.us7.list-manage.com/subscribe/post-json?u=7a093765dbfedfdb8e957cbf1&id=f88c512ec1&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                                   beforeSubmit: function(){
                                   $('#mce_tmp_error_msg').remove();
                                   $('.datefield','#mc_embed_signup').each(
                                                                           function(){
                                                                           var txt = 'filled';
                                                                           var fields = new Array();
                                                                           var i = 0;
                                                                           $(':text', this).each(
                                                                                                 function(){
                                                                                                 fields[i] = this;
                                                                                                 i++;
                                                                                                 });
                                                                           $(':hidden', this).each(
                                                                                                   function(){
                                                                                                   var bday = false;
                                                                                                   if (fields.length == 2){
                                                                                                   bday = true;
                                                                                                   fields[2] = {'value':1970};//trick birthdays into having years
                                                                                                   }
                                                                                                   if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                                                                                   this.value = '';
                                                                                                   } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                                                                                   this.value = '';
                                                                                                   } else {
                                                                                                   if (/\[day\]/.test(fields[0].name)){
                                                                                                   this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;
                                                                                                   } else {
                                                                                                   this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                                                                                                   }
                                                                                                   }
                                                                                                   });
                                                                           });
                                   return mce_validator.form();
                                   }, 
                                   success: mce_success_cb
                                   };
                                   $('#mc-embedded-subscribe-form').ajaxForm(options);
                                   
                                   
                                   });
        }
        function mce_success_cb(resp){
            $('#mce-success-response').hide();
            $('#mce-error-response').hide();
            if (resp.result=="success"){
                //$('#mce-'+resp.result+'-response').show();
                //$('#mce-'+resp.result+'-response').html(resp.msg);
                $('#mc-embedded-subscribe-form').each(function(){
                                                      this.reset();
                                                      });
                $('.signup-form').html("<h3>Thanks for signing up!</h3><p>To complete the subscription process, please click the link in the email I just sent you.</p>");
            } else {
                var index = -1;
                var msg;
                try {
                    var parts = resp.msg.split(' - ',2);
                    if (parts[1]==undefined){
                        msg = resp.msg;
                    } else {
                        i = parseInt(parts[0]);
                        if (i.toString() == parts[0]){
                            index = parts[0];
                            msg = parts[1];
                        } else {
                            index = -1;
                            msg = resp.msg;
                        }
                    }
                } catch(e){
                    index = -1;
                    msg = resp.msg;
                }
                try{
                    if (index== -1){
                        $('#mce-'+resp.result+'-response').show();
                        $('#mce-'+resp.result+'-response').html(msg);            
                    } else {
                        err_id = 'mce_tmp_error_msg';
                        html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';
                        
                        var input_id = '#mc_embed_signup';
                        var f = $(input_id);
                        if (ftypes[index]=='address'){
                            input_id = '#mce-'+fnames[index]+'-addr1';
                            f = $(input_id).parent().parent().get(0);
                        } else if (ftypes[index]=='date'){
                            input_id = '#mce-'+fnames[index]+'-month';
                            f = $(input_id).parent().parent().get(0);
                        } else {
                            input_id = '#mce-'+fnames[index];
                            f = $().parent(input_id).get(0);
                        }
                        if (f){
                            $(f).append(html);
                            $(input_id).focus();
                        } else {
                            $('#mce-'+resp.result+'-response').show();
                            $('#mce-'+resp.result+'-response').html(msg);
                        }
                    }
                } catch(e){
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(msg);
                }
            }
        }
        
        </script>
    <!--End mc_embed_signup-->


<p class="signature">
  - <em>Swift</em>
</p>

<p class="ps">
  <em>
    P.S. My name is Swift.  I'm a developer evangelist at <a href="http://sendgrid.com">SendGrid</a> and 
    one of the founders of <a href="http://hackerleague.org">Hacker League</a>.  I also tweet as
    <a href="http://twitter.com/swiftalphaone">@SwiftAlphaOne</a>.  Follow me there for more of my thoughts and maybe
    a laugh or two.
  </em>
</p>

<p>
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-via="SwiftAlphaOne">Tweet</a>
  <a href="http://news.ycombinator.com/submit" class="hn-share-button" data-title="{{ page.title }}">Vote on HN</a>
</p>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script>(function(){var a=document.createElement("script");a.type="text/javascript";a.async=true;a.src="//hnbutton.appspot.com/static/hn.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();</script>
<script src="/js/jquery.fitvids.min.js"></script>
